.content {
    text-align: center;
    position: relative;
    top: 100px;
}
.contact-title{
    
    color: white;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.contact-title h1{
    position: relative;
    font-size: 32px;
    line-height: 10px;
    margin: 0;
    padding: 0;
}
.contact-title h2{
    font-size: 16px;
}
form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

form .submit{
    background: #444444;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}
form .submit:hover{
    background-color: #6e6e6e;
    cursor: pointer;
}
.poruka{
    margin: 4% 20%;
    padding: 10px;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    font-weight: bold;
}
.poruka:hover{
    opacity: 1;
    color: darkred;
}
@media only screen and (max-width: 820px) {
    .form-control {
        width: 90%;
    }
    .contact-form {
        margin-left: 2%;
        margin-right: 2%;
    }
}